.chat {
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    word-wrap: break-word;
    border: solid #111111;
    border-radius: 10px;
    padding: 5px;
}

.chat > .chatc {
    margin-bottom: 80px;
}

.chat > .chatc > .chatcf {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: solid #111111;
}

.chat > .chatc > .chatcf > .chatcfu {
    margin-top: 5px;
    margin-left: 20px;
}

.chat > .chatc > .chatcf > .chatcfu:hover {
    cursor: pointer;
}

.chat > .chatc > .chatcf > img {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}

.chat > .chattc {
    position: fixed;
    bottom: 15px;
}