.viewquestion {    
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    word-wrap: break-word;
    border: solid #111111;
    border-radius: 10px;
    padding: 30px;
}

.viewquestion > .viewquestionq > .viewquestionqr {
    display: flex;
    justify-content: space-between;
}

.viewquestion > .viewquestionq > .viewquestionqr > .viewquestionqrf {
    display: flex;
}

.viewquestion > .viewquestionq > .viewquestionqr > form > button {
    border: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 15px;
    margin-left: 80%;
}

.viewquestion > .viewquestionq > .viewquestionqr > form > button:hover {
    border: none;
    background-color: #111111;
    border-radius: 10px;
    padding: 15px;
    margin-left: 80%;
}

.viewquestion > .viewquestionq > .viewquestionqa {
    border-top: solid #111111;
    padding: 15px;
}

.viewquestion > .viewquestionq > .viewquestionqa > .viewquestionqaf {
    display: flex;
    justify-content: space-between;
}

.viewquestion > .viewquestionq > .viewquestionqa > .viewquestionqaf > .viewquestionqaff {
    display: flex;
}

.viewquestion > .viewquestionq > .viewquestionqa > .viewquestionqaf > .viewquestionqafp {
    display: flex;
}

.viewquestion > .viewquestionq > .viewquestionqa > .viewquestionqaf > .viewquestionqafp:hover {
    cursor: pointer;
}

.viewquestion > .viewquestionq > .viewquestionqa > .viewquestionqaf > .viewquestionqafp > img {
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
}

.viewquestion > .viewquestionq > .viewquestionqa > .viewquestionqaf > .viewquestionqafp > .viewquestionqafpn {
    margin-left: 10px;
    margin-top: 4px;
}

.viewquestion > .viewquestionq > .viewquestionqa > .viewquestionqaf > p {
    font-size: 10px;
}

.viewquestion > .viewquestionq > .viewquestionqr > .viewquestionqrp {
    display: flex;
    justify-content: space-around;
}

.viewquestion > .viewquestionq > .viewquestionqr > .viewquestionqrp > .viewquestionqrpn {
    margin-left: 10px;
    margin-top: 5px;
}

.viewquestion > .viewquestionq > .viewquestionqr > .viewquestionqrp:hover {
    cursor: pointer;
}

.viewquestion > .viewquestionq > .viewquestionqr > .viewquestionqrp > img {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}