.chats {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    word-wrap: break-word;
    padding: 3px;
}

.chatsyes > p {
    margin-left: auto;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    resize: none;
    border: none;
    background-color: #222222;
    padding: 2vh;
}

.chatsno > p {
    border-radius: 10px;
    text-align: right;
    height: fit-content;
    width: fit-content;
    resize: none;
    border: none;
    background-color: #111111;
    padding: 2vh;
}